body {
    background: white;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: purple;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

h2 {
    color: #272044;
    font-size: 25px;
    font-weight: normal;
    font-family: Georgia, serif;
    text-align: center;
}

